/* universal section */
html{
    font-size: 16px;
    
}

main {
    background-color: rgb(247, 203, 210);
}

/*header section */

header {
    background-color: rgb(247, 203, 210);
}

header h1 {
    font-size: 3rem;
}

/* carousel section */

#carouselDiv {
    background-color: rgb(247, 203, 210);
}
#carouselDiv img {
    width: 500px;
    height: 700px;
}

#my-carousel2 img {
    border-radius: 75px 75px 75px 75px;
}

