/* universal section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    
}

main {
    background-color: rgb(247, 203, 210);
}

/*header section */

header {
    background-color: rgb(247, 203, 210);
}

header h1 {
    font-size: 3rem;
}

/* carousel section */

#carouselDiv {
    background-color: rgb(247, 203, 210);
}
#carouselDiv img {
    width: 500px;
    height: 700px;
}

#my-carousel2 img {
    border-radius: 75px 75px 75px 75px;
}

/* gift section */



/* flip card */
.flip-card-body {
    font-family: cursive;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-container {
    width: 500px;
    height: 300px;
    border: 1px solid white;
    perspective: 1000px;
    
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: tranform 3s;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card-front {
    transform: rotateX(180deg);
    
    
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.flip-card-front {
    background-color: red;
    color: white;
}

.flip-card-back {
    background-color: purple;
    color: white;
    transform: rotateX(180deg);
    
}